<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 341 Web Services</title>
</head>

<body>
    <h1>
        <%= pageTitle %>
    </h1>
    <a href="<%= url %>/contacts">Click to view Contacts List</a>
    <br>
    <a href="<%= url %>/api-docs">Click to view API Docs</a>
</body>

</html>